* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d9f1ff;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.theme_switch {
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ade2ff;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ade2ff;
}

.theme_switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.theme_switch:checked {
  box-shadow: inset 20px 0 0 0 #005db2;
  border-color: #005db2;
  background-color: #fff;
}

.theme_switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.calculator {
  width: 375px;
  height: 700px;
  background-color: #f7f8fb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 68px 81px 85px 6px rgba(96, 190, 255, 0.55);
  border-radius: 39px;
  position: relative;
  padding: 90px 33px 40px 33px;
}

.calculator__screen {
  width: 100%;
  overflow-y: auto;
}

.calculator__screen-calculation {
  display: flex;
  overflow-x: auto;
  height: 37px;
}

.calculator__screen-element1 {
  margin-left: auto;
}

.calculator__screen-element1,
.calculator__screen-element2 {
  color: #818181;
  font-size: 24px;
  font-weight: 300;
}

.calculator__screen-result {
  color: #424242;
  font-size: 48px;
  font-weight: 500;
  height: 72px;
  display: flex;
  overflow-x: auto;
}

.equal {
  display: none;
  margin-left: auto;
}

.equal_visible {
  display: initial;
}

.variable {
  color: #109dff;
  font-size: 24px;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 62px);
  grid-gap: 20px;
}

.button {
  font-size: 32px;
  font-weight: 500;
  color: #38b9ff;
  background-color: #fbfbfd;
  border: 1px solid #fff;
  border-radius: 16px;
  height: 60px;
  cursor: pointer;
}

.button__option {
  color: #858585;
  font-size: 24px;
  background-color: #fff;
}

.calculator__buttons-cancel {
  background-image: url(./assets/button_cancel_bright.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}

.calculator__buttons-variable {
  font-weight: 500;
  color: #109dff;
  background-color: #ade2ff;
}

.calculator__buttons-zero {
  grid-column: 1 / 3;
  color: #109dff;
}

.button__result {
  background-color: #19acff;
  color: #b2daff;
}

.calculator__screen-history {
  color: #818181;
  max-height: 130px;
  font-size: 24px;
  width: 100%;
  overflow: auto;
  overflow-x: auto;
}

.calculator__screen-history-elements {
  list-style-type: none;
  text-align: right;
  align-items: flex-end;
  padding-right: 20px;
  margin-left: auto;
}

.screen-hidden {
  display: none;
}

/* Darktheme */
body.darktheme .calculator {
  background-color: #17181a;
}

body.darktheme .button {
  background-color: #303136;
  border-color: transparent;
}

body.darktheme .button__option {
  background-color: #616161;
  color: #a5a5a5;
}

body.darktheme .calculator__buttons-cancel {
  background-image: url(./assets/button_cancel_dark.png);
}

body.darktheme .calculator__buttons-variable {
  background-color: #005db2;
}

body.darktheme .button__result {
  background-color: #1991ff;
}

body.darktheme .calculator__screen-result {
  color: #fff;
}
